/* Sets the entire page to include padding and border in height and width for elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Sets background color for whole page */
body {
    background-color: #d9dcd6;
}


/* Sets properties for header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}


/* Following two set properties for brand name logo with inline "seo" as a different color */
header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}


/* The following four set properties for horizantally shown links in nav bar */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}


/*Formats figure below header*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
}


/*Sets font for all paragrpah text*/
p {
    font-size: 16px;
}


/*Formats main content layout*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


/*Following three format main section apprerances*/
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

main h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

main img {
    max-height: 200px;
}


/*Following two control image justification in main sections*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


/*Formats aside layout*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}


/*Following three format aside section appearances*/
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/*Following two format appearance of footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
